﻿<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
      <title>The Game|You Lost</title>
      <meta name="description" content="">
      <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="../css/base.css">
   <link rel="stylesheet" href="../css/main.css">
   <link rel="stylesheet" href="../css/media-queries.css">

   <!-- Script
   =================================================== -->
      <script src="/js/modernizr.js"></script>

   <!-- Math Text
   =================================================== -->
{% if page.require-math %}<script type="text/x-mathjax-config">
      MathJax.Hub.Config({
            tex2jax: {
                  inlineMath: [['$','$'], ['\\(','\\)']],
                  displayMath: [['$$','$$'], ["\\[","\\]"]],
                  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                  processEscapes: true
            },
        styles: {
            ".MathJax": {
                color: "#777"
            },
            ".MathJax_SVG svg > g, .MathJax_SVG_Display svg > g": {
                fill: "#666",
                stroke: "#666"
            }
        }
      });
      MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i = 0; i < all.length; i += 1)
                  all[i].SourceElement().parentNode.className += ' has-jax';
      });
      </script>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>{% endif %}
    {% if page.require-jquery %}<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>{% endif %}

   <!-- Favicons
      =================================================== -->
      <link rel="shortcut icon" href="favicon.png" >

</head>

<body class="homepage">

   <div id="preloader"> 
         <div id="status">
         <img src="../images/loader.gif" height="60" width="60" alt="">
         <div class="loader">Loading...</div>
      </div>
   </div>

   <!-- Header
   =================================================== -->
   <header id="main-header">

         <div class="row header-inner">

            <div class="logo">
               <a class="smoothscroll" href="#hero">The Game</a>
            </div>

            <nav id="nav-wrap">
               
               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
               	<span class='menu-text'>Show Menu</span>
                     <span class="menu-icon"></span>
               </a>
               <a class="mobile-btn" href="#" title="Hide navigation">
                     <span class='menu-text'>Hide Menu</span>
         		<span class="menu-icon"></span>
         	</a>         

               <ul id="nav" class="nav">
                  <li class="current"><a class="smoothscroll" href="#hero">Home.</a></li>
                  <li><a class="smoothscroll" href="../index.html#about">About.</a></li>
                  <li><a class="smoothscroll" href="../index.html#resume">Resume.</a></li>
                  <li><a class="smoothscroll" href="index.html#portfolio">Works.</a></li>
                  <li><a href="blog/">Blog.</a></li>	            
                  <li><a class="smoothscroll" href="index.html#contact">Contact.</a></li>
               </ul> 

	      </nav> <!-- /nav-wrap -->	      

	   </div> <!-- /header-inner -->

   </header>

   <!-- Page Title
   ================================================== -->
   <section id="page-title">	
   	  
            <div class="row">

                  <div class="twelve columns">

                        <h1>Random thoughts on random things.</h1>
                        <p>This is where I post my blogs. Basically some post on recent thoughts of random things.</p>

                  </div>			    

            </div> <!-- /row -->	   

   </section> <!-- /page-title -->

   <!-- Content
   ================================================== -->

<article>
	{{content}}
</article>

   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row">       

         <div class="six columns tab-whole footer-about">
				
            <h3>Fun Facts</h3>
               
            <p>To win a tic-tac-toe game, you must go first. Theoretically second player cannot ever win the game. 
            </p>

            <p>If you shuffle a pack of cards properly, chances are that exact order has never been seen before in the whole history of the universe. <a href="http://www.matthewweathers.com/year2006/shuffling_cards.htm">Proof</a></p>        

         </div> <!-- /footer-about -->

         <div class="six columns tab-whole right-cols">

            <div class="row">

               <div class="columns">
                  <h3 class="address">Contact</h3>
                  <p>
                  451 Laurel Gate Drive<br>
                  Waterloo, Ontario<br>
                  N2T 2S5 Canada
                  </p>

                  <ul>
                    <li><a href="tel:2266060200">(226)-606-0200</a></li>
                    <li><a href="mailto:gxyau@uwaterloo.ca">gxyau@uwaterloo.ca</a></li>
                  </ul>                  
               </div> <!-- /columns -->             


            </div> <!-- /Row(nested) -->

         </div>

         <p class="copyright">&copy; Copyright 2014 Puremedia. Design by <a href="http://www.styleshout.com/">Styleshout.</a></p>        

         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><span>Top</span><i class="fa fa-long-arrow-up"></i></a>
         </div>

      </div> <!-- /row -->

   </footer> <!-- /footer -->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>   
   <script src="js/jquery.flexslider.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/backstretch.js"></script> 
   <script src="js/waypoints.js"></script>  
   <script src="js/main.js"></script>

</body>

</html>