﻿---
layout: default
require-math: true
---
<div class="post-header">
	<h2 class="post-title">{{page.title}}</h2>
	<time class="post-date" datetime='{{page.date | date: "%Y-%m-%d"}}'>{{page.date | date: "%a %b %d %Y"}}</time>
	<span class="post-tags">Tags: {% for tag in page.tags %}<a href="/blog/?tag={{tag | cgi_escape}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
</div>
{{content}}

{% if page.previous %}<div class="prev-link"><a href="{{page.previous.url}}">&laquo; {{page.previous.title | truncate:40}}</a></div>{% endif %}
{% if page.next %}<div class="next-link"><a href="{{page.next.url}}">{{page.next.title | truncate:40}} &raquo;</a></div>{% endif %}
<div class="clear"></div>